<%- contentFor('body') -%>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">NA Store Cart</h1>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Hình ảnh</th>
                                <th class="text-center">Sản phẩm</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">Giá</th>
                                <th class="text-center">Tổng giá</th>
                                <th class="text-center">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% cart.forEach(product=> { %>
                                <tr>
                                    <td class="text-center">
                                        <img src="<%= product.image %>" class="img-thumbnail"
                                            style="width: 60px; height: 60px;" />
                                    </td>
                                    <td class="text-center">
                                        <strong>
                                            <%= product.name %>
                                        </strong>
                                    </td>
                                    <td class="text-center">
                                        <span>
                                            <%= product.quantity %>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <span class="text-success">
                                            <%= product.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <span class="text-success">
                                            <%= (product.price * product.quantity).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <a href="/add-to-cart?id=<%= product.id %>&isAdd=false"
                                            class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i> Xóa</a>
                                    </td>
                                </tr>
                                <% }) %>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">Tổng cộng (Số lượng x Giá)</td>
                                        <td class="text-center">
                                            <%= cart.reduce((total, product)=> total + (product.quantity *
                                                product.price), 0).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
                                        </td>
                                        <td></td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <a href="/list-product" class="btn btn-block btn-light">Tiếp tục mua sắm</a>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <% if (cart.length===0) { %>
                            <a href="/checkout" title="Bạn nên thêm ít nhất 1 sản phẩm" style="text-decoration: none;">
                                <button class="btn btn-lg btn-block btn-success text-uppercase" disabled>Thanh
                                    toán</button>
                            </a>
                            <% } else if (!user) { %>
                                <a href="/checkout" title="Bạn phải đăng nhập để thanh toán!"
                                    style="text-decoration: none;">
                                    <button class="btn btn-lg btn-block btn-success text-uppercase" disabled>Thanh
                                        toán</button>
                                </a>
                                <% } else { %>
                                    <a href="/checkout" style="text-decoration: none;">
                                        <button class="btn btn-lg btn-block btn-success text-uppercase">Thanh
                                            toán</button>
                                    </a>
                                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>