<%- contentFor('body') -%>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">NA Store</h1>
            <p class="lead text-muted mb-0">Khám phá những xu hướng mới nhất và phong cách vượt thời gian tại NA Store.
                Khám phá bộ sưu tập quần áo, phụ kiện và nhiều hơn nữa của chúng tôi.</p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 100%;">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" style="height: 100%;">
                        <div class="carousel-item active" style="height: 100%;">
                            <img class="d-block w-100 h-100" src="/image1.png" alt="First slide">
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img class="d-block w-100 h-100" src="/image2.png" alt="Second slide">
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img class="d-block w-100 h-100" src="/image3.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Trước</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Tiếp theo</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card" style="height: 100%;">
                    <div class="card-header bg-success text-white text-uppercase">
                        <i class="fa fa-heart"></i> Sản phẩm hàng đầu
                    </div>
                    <img class="img-fluid border-0" src="<%= highestPrice.image ?? '' %>" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center"><a href="/product-detail/<%= highestPrice.id %>"
                                title="Xem sản phẩm">
                                <%= highestPrice.name %>
                            </a>
                        </h4>
                        <div>
                            <p class="btn btn-danger btn-block">
                                <%= highestPrice.price %> $
                            </p>
                        </div>
                        <div>
                            <a href="/add-to-cart?id=<%= highestPrice.id %>&isAdd=true"
                                class="btn btn-success btn-block">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-3">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header bg-primary text-white text-uppercase">
                        <i class="fa fa-star"></i> Sản phẩm mới nhất
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <% latest4Products.forEach(product=> { %>
                                <div class="col-sm">
                                    <div class="card">
                                        <img class="card-img-top" src="<%= product.image %>" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title text-center"><a
                                                    href="/product-detail/<%= product.id %>" title="Xem sản phẩm">
                                                    <%= product.name %>
                                                </a>
                                            </h4>
                                            <div>
                                                <p class="btn btn-danger btn-block">
                                                    <%= product.price %> $
                                                </p>
                                            </div>
                                            <div>
                                                <a href="/add-to-cart?id=<%= product.id %>&isAdd=true"
                                                    class="btn btn-success btn-block">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-3 mb-4">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-header bg-primary text-white text-uppercase">
                        <i class="fa fa-trophy"></i> Sản phẩm bạn có thể thích
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <% random4Products.forEach(product=> { %>
                                <div class="col-sm">
                                    <div class="card">
                                        <img class="card-img-top" src="<%= product.image %>" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title text-center"><a
                                                    href="/product-detail/<%= product.id %>" title="Xem sản phẩm">
                                                    <%= product.name %>
                                                </a>
                                            </h4>
                                            <div>
                                                <p class="btn btn-danger btn-block">
                                                    <%= product.price %> $
                                                </p>
                                            </div>
                                            <div>
                                                <a href="/add-to-cart?id=<%= product.id %>&isAdd=true"
                                                    class="btn btn-success btn-block">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>