<%- contentFor('body') -%>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"> NA Store</h1>
            <p class="lead text-muted mb-0">Chào mừng đến với cửa hàng thời trang của chúng tôi! Khám phá những xu hướng
                mới nhất và phong cách vượt thời gian trong bộ sưu tập của chúng tôi. Từ trang phục thường ngày đến
                trang phục trang trọng, chúng tôi có mọi thứ cho mọi dịp. Mua sắm ngay và nâng tầm tủ quần áo của bạn
                với những sản phẩm độc quyền của chúng tôi.</p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <form action="/list-product" method="get">
                    <div class="card bg-light mb-3">
                        <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i>
                            Danh Mục
                        </div>
                        <ul class="list-group category_block">
                            <% categories.forEach(category=> { %>
                                <li class="list-group-item">
                                    <button type="submit" name="category" value="<%= category.id %>" name="category"
                                        class="btn btn-link">
                                        <%= category.name %>
                                    </button>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                    <div class="card bg-light mb-3">
                        <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Thương
                            Hiệu
                        </div>
                        <ul class="list-group category_block">
                            <% brands.forEach(brand=> { %>
                                <li class="list-group-item">
                                    <button type="submit" name="brand" value="<%= brand.id %>" name="brand"
                                        class="btn btn-link">
                                        <%= brand.name %>
                                    </button>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                </form>
                <div class="card">
                    <div class="card-header bg-primary text-white text-uppercase text-center">
                        <i class="fa fa-star"></i> Sản Phẩm Mới Nhất
                    </div>
                    <img class="card-img-top" src="<%= latestProduct.image %>" alt="Hình ảnh sản phẩm">
                    <div class="card-body">
                        <h4 class="card-title text-center"><a href="/product-detail/<%= latestProduct.id %>"
                                title="Xem Sản Phẩm">
                                <%= latestProduct.name %>
                            </a>
                        </h4>
                        <div>
                            <p class="btn btn-danger btn-block">
                                <%= latestProduct.price %> $
                            </p>
                        </div>
                        <div>
                            <a href="/add-to-cart?id=<%= latestProduct.id %>&isAdd=true"
                                class="btn btn-success btn-block">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <% products.forEach(product=> { %>
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="card">
                                <img class="card-img-top" src="<%= product.image %>" alt="Hình ảnh sản phẩm">
                                <div class="card-body">
                                    <h4 class="card-title text-center"><a href="/product-detail/<%= product.id %>"
                                            title="Xem Sản Phẩm">
                                            <%= product.name %>
                                        </a>
                                    </h4>
                                    <div>
                                        <p class="btn btn-danger btn-block">
                                            <%= product.price %> $
                                        </p>
                                    </div>
                                    <div>
                                        <a href="/add-to-cart?id=<%= product.id %>&isAdd=true"
                                            class="btn btn-success btn-block">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>