<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="icon" type="image/png" href="/img/main/z5987265634501_379b0a680303e1e5b18f9b0dfa663206.jpg" />
    <script src="https://kit.fontawesome.com/2e554e2698.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    <div class="sign_up">
        <div class="sign_up_form">
            <h1>Tạo tài khoản</h1>
            <h4>Đăng ký với</h4>
            <span>
                <ul class="form_icon">
                    <li><a href=""><i id="gg" class="fab fa-google" style="color: black;"></i></a></li>
                    <li><a href=""><i id="fb" class="fab fa-facebook-f" style="color: black;"></i></a></li>
                    <li><a href=""><i id="tw" class="fab fa-twitter" style="color: black;"></i></a></li>
                </ul>
            </span>
            <h4><i>hoặc</i> Nhập thông tin của bạn để đăng ký</h4>
            <form action="/signup" method="post">
                <p>
                    <input type="text" placeholder="Họ và tên" name="name" id="name">
                    <span class="text-danger">
                        <%= error.name %>
                    </span>
                </p>
                <p>
                    <input type="username" placeholder="Tên đăng nhập" name="username" id="username">
                    <span class="text-danger">
                        <%= error.username %>
                    </span>
                </p>
                <p>
                    <input type="password" placeholder="Mật khẩu" name="password" class="mk" id="matkhau">
                    <span class="text-danger">
                        <%= error.password %>
                    </span>
                </p>
                <p>
                    <input type="password" placeholder="Nhập lại mật khẩu" name="confirmPassword" class="mk"
                        id="nhaplaimatkhau">
                    <span class="text-danger">
                        <%= error.confirmPassword %>
                    </span>
                </p>
                <div id="form_button">
                    <button type="submit" id="submit">ĐĂNG KÝ</button>
                    <a id="backhome" href="/"><i class="fas fa-long-arrow-alt-left"></i> Quay lại trang chủ</a>
                </div>
                <span class="text-danger">
                    <%= error.account %>
                </span>
            </form>
        </div>
    </div>

    <div id="notification" style="display: none; text-align: center; margin-top: 20px; color: green;"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>